jupyter-book==2.0.2
sphinx-autobuild==2025.8.25
sphinxcontrib-mermaid==1.0.0
matplotlib==3.10.7
numpy==2.3.4
sphinx_togglebutton==0.3.2
sphinx_copybutton==0.5.2
myst-nb
sphinx_design
sphinx_book_theme
sphinxcontrib-bibtex
sphinx-jupyterbook-latex
sphinx-multitoc-numbering
sphinx_thebe
sphinx_comments
